# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [6]:
!pip install pandas numpy

import pandas as pd
import numpy as np

print("¡Pandas y Numpy importados con éxito!")

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.12/site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
¡Pandas y Numpy importados con éxito!

### 2. Create a Pandas Series containing the elements of the list below.

In [8]:
import pandas as pd

lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [16]:
serie = pd.Series(lst)
print(serie)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [20]:
# Get the third value from the Series (index 2)
third_value = serie[2]

# Display the result
print("The third value in the Series is:", third_value)

The third value in the Series is: 74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [22]:
# Import pandas (if not already imported)
import pandas as pd

# Define the list of lists
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Convert the list into a Pandas DataFrame
df = pd.DataFrame(b)

# Display the DataFrame
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [38]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [48]:
# Rename the DataFrame columns
# DataFrame is df
df.columns = colnames

# Display the updated DataFrame
print(df.head())  # Show the first few rows

#df.columns = colnames → Replaces the existing column names with the new ones from colnames.
#df.head() → Displays the first five rows to confirm the changes.

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [50]:
# Create a subset with only Score_1, Score_3, and Score_5
df_subset = df[["Score_1", "Score_3", "Score_5"]]

# Display the subset
print(df_subset.head())  # Show the first few rows

# df[['Score_1', 'Score_3', 'Score_5']] → Selects only these three columns.
# df_subset → Stores the new DataFrame with only the selected columns.
# df_subset.head() → Displays the first few rows to verify.

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9

### 7. From the original data frame, calculate the average Score_3 value.

In [52]:
# Calculate the average (mean) of Score_3
average_score_3 = df['Score_3'].mean()

# Display the result
print("Average Score_3:", average_score_3)

# df['Score_3'].mean() → Computes the mean (average) of column Score_3.
# average_score_3 → Stores the calculated value.
# print(...) → Displays the result.

Average Score_3: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [54]:
# Calculate the maximum (max) value of Score_4
max_score_4 = df['Score_4'].max()

# Display the result
print("Maximum Score_4:", max_score_4)

# df['Score_4'].max() → Finds the highest value in Score_4.
# max_score_4 → Stores the highest value.
# print(...) → Displays the result.

Maximum Score_4: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [56]:
# Calculate the median of Score_2
median_score_2 = df['Score_2'].median()

# Display the result
print("Median Score_2:", median_score_2)


# df['Score_2'].median() → Computes the median (middle value) of column Score_2.
# median_score_2 → Stores the median value.
# print(...) → Displays the result.

Median Score_2: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [62]:
# Define the dictionary of product orders

orders = {
  'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}

In [64]:
# Convert dictionary to DataFrame
df_orders = pd.DataFrame(orders)

# Display the DataFrame
print(df_orders.head())  # Show first 5 rows


# orders → A dictionary where each key represents a column and each value is a list of values for that column.
# pd.DataFrame(orders) → Converts the dictionary into a DataFrame.
# df_orders.head() → Displays the first five rows to verify the structure.

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [66]:
# Calculate total quantity ordered
total_quantity = df_orders['Quantity'].sum()

# Calculate total revenue generated
total_revenue = df_orders['Revenue'].sum()

# Display the results
print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated: $", total_revenue)


# df_orders['Quantity'].sum() → Adds up all values in the Quantity column.
# df_orders['Revenue'].sum() → Adds up all values in the Revenue column.
# print(...) → Displays the results.

Total Quantity Ordered: 2978
Total Revenue Generated: $ 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [16]:
# Find the most expensive item
max_price = df_orders['UnitPrice'].max()

# Find the least expensive item
min_price = df_orders['UnitPrice'].min()

# Calculate the price difference
price_difference = max_price - min_price

# Display the results
print("Most Expensive Item Price: $", max_price)
print("Least Expensive Item Price: $", min_price)
print("Price Difference: $", price_difference)


# df_orders['UnitPrice'].max() → Finds the highest price.
# df_orders['UnitPrice'].min() → Finds the lowest price.
# price_difference = max_price - min_price → Computes the difference.
# print(...) → Displays the results.

## Let's load another dataset for more exercisesº

In [69]:
import pandas as pd

# Run this code:
# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Display the first few rows to check the data structure
print(admissions.head())


# pd.read_csv('../Admission_Predict.csv') → Reads the CSV file and stores it as a Pandas DataFrame.
# print(admissions.head()) → Displays the first 5 rows to understand the structure.

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

Let's evaluate the dataset by looking at the `head` function.

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [73]:
# Check for missing values
print(admissions.isnull().sum())

# admissions.isnull() → Returns True for missing values and False otherwise.
# .sum() → Counts the number of missing values in each column.

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [75]:
# Set 'Serial No.' as the index while keeping the column
admissions.set_index('Serial No.', inplace=True)

# Display the updated DataFrame structure
print(admissions.head())

# .set_index('Serial No.', inplace=True) → Sets Serial No. as the DataFrame index.
# inplace=True → Modifies the DataFrame directly.
# print(admissions.head()) → Verifies that the index has been set correctly.

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [77]:
# CGPA > 9
# The student has performed an investigation (assuming it's recorded in a column named Research with values 1 for "Yes" and 0 for "No").

# Count rows where CGPA > 9 and Research = 1
filtered_count = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]

# Display the result
print("Number of students with CGPA > 9 and Research = 1:", filtered_count)


# admissions['CGPA'] > 9 → Filters rows where CGPA is greater than 9.
# admissions['Research'] == 1 → Filters rows where Research is 1 (meaning the student did an investigation).
# & → Combines both conditions (logical AND).
# .shape[0] → Counts the number of rows matching both conditions.

Number of students with CGPA > 9 and Research = 1: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [96]:
# Print column names to check for issues (extra spaces, wrong names, etc.)
print(admissions.columns)

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit'],
      dtype='object')

In [106]:
# Remove leading/trailing spaces from column names
admissions.columns = admissions.columns.str.strip()

# Filter students where CGPA > 9 and SOP < 3.5
filtered_students = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Calculate the mean Chance of Admit
mean_admit_chance = filtered_students['Chance of Admit'].mean()

# Display the result
print("Mean chance of admit for students with CGPA > 9 and SOP < 3.5:", mean_admit_chance)

Mean chance of admit for students with CGPA > 9 and SOP < 3.5: 0.8019999999999999